* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.ttf");
}

body {
    font-family: 'Roboto-Light', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container .header {
    display: flex;
    align-items: center;
}

.header {
    padding: 46px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    color: rgba(26, 26, 26, 0.71);
    font-size: 37px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 26px;
    cursor: pointer;
}

.main-menu {
    margin-left: 254px;
}

.main-menu-list {
    list-style: none;
    display: flex;
}

.main-menu-item {
    margin-right: 32px;
}

.main-menu-item a {
    text-decoration: none;
    color: #2A2A2A;
    line-height: 20px;
}

.main-menu-item a:hover {
    opacity: 0.5;
}

.right-menu {
    margin-left: 427px;
}

.right-menu-list {
    list-style: none;
    display: flex;
}

.right-menu-item {
    margin-right: 26px;
}

.right-menu-item a {
    font-size: 15px;
    text-decoration: none;
    color: #2A2A2A;
    line-height: 18px;
    cursor: pointer;
}

.right-menu-item a:hover {
    opacity: 0.5;
}

.right-menu-list .right-menu-item:not(:last-of-type) {
    border-right: 1px solid black;
}

.right-menu-list .right-menu-item {
    padding-right: 13px;
    margin-right: 13px;
}

.search-menu {
    background: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;
    width: 320px;
    height: 63px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
    flex-shrink: 0;
    position: relative;
    top: 43px;
    right: 322px;
}

.search-item {
    display: flex;
}

.search {
    border: 1px solid #DDD;
    width: 300px;
    height: 43px;
    margin: 10px;
    box-sizing: border-box;
}

.background {
    background-image: url("../images/background.png");
    background-size: cover;
    margin-top: 35px;
    height: 600px;
}

.catalog {
    padding-top: 40px;
}

.catalog-menu {
    margin-bottom: 55px;
}

.catalog-menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.catalog-menu-item {
    margin-right: 48px;
}

.catalog-menu-item a {
    text-decoration: none;
    color: #B3B3B3;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
}

.catalog-menu-item a:hover {
    opacity: 0.5;
}

.catalog-cards {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    gap: 20px;
    margin-top: 16px;
    justify-content: center;
    margin-bottom: 97px;
}

.catalog-image-card {
    height: 341px;
}

.catalog-image-name {
    padding-top: 11px;
    color: #1A1A1A;
    font-size: 15px;
    line-height: 18px;
}

.catalog-image-name span {
    color: #A8A8A8;
    font-size: 14px;
    line-height: 18px;
}

.catalog-price {
    color: #1A1A1A;
    font-size: 13px;
    line-height: 13px;
    margin-top: 6px;
}

.catalog-price span:first-child {
    color: #808080;
}

.catalog-price span {
    color: #FF3451;
}

.catalog-card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 171px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 56px;
    background-color: #1A1A1A;
    color: #F7F7F7;
    width: 302px;
    height: 56px;
    border: 1px solid #1A1A1A;
}

.card-button:hover {
    background: linear-gradient(95.61deg, #464343 0%, #49443b 100%);
    cursor: pointer;
}

.analog {
    background-image: url("../images/background 2.png");
    background-size: cover;
    height: 600px;
}

.analog-section {
    color: #F7F7F7;
    padding-top: 201px;
    margin-left: 140px;
    width: 360px;
}

.analog-section h3 {
    font-size: 35px;
    line-height: 54px;
    margin-bottom: 14px;
}

.analog-action {
    display: flex;
    margin-bottom: 16px;
}

.analog-button {
    justify-content: center;
    font-size: 15px;
    line-height: 40px;
    background-color: #7E6E45;
    border: 1px solid #7E6E45;
    color: #F7F7F7;
    width: 182px;
    height: 40px;
}

.analog-button:hover {
    background: linear-gradient(95.61deg, #ffac00 0%, #49443b 100%);
    cursor: pointer;
}

.analog-section a {
    color: #F7F7F7;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #F7F7F7;
}

.container .journal {
    position: relative;
}

.journal {
    background: #312F2E;
    height: 890px;
    margin-bottom: 140px;
}

.journal-section {
    position: absolute;
    top: 217px;
    left: 140px;
    background: #E4E4E4;
    width: 406px;
    height: 436px;
}

.journal img {
    position: absolute;
    top: 217px;
    left: 546px;
}

.journal-section h3 {
    padding: 89px 131px 20px 93px;
    color: #1A1A1A;
    font-size: 38px;
    line-height: 45px;

}

.journal p {
    padding: 0 145px 32px 93px;
    font-size: 15px;
    line-height: 21px;
}

.journal a {
    padding: 0 176px 94px 93px;
    color: #1A1A1A;
    font-size: 14px;
    line-height: 21px;
}

.journal a:hover {
    opacity: 0.5;
}

.container .shop {
    position: relative;
}

.shop {
    height: 1601px;
    margin-bottom: 145px;
}

.shop .shop-header-name {
    margin-left: 405px;
    margin-bottom: 92px;
    width: 630px;
}

.shop-header-name {
    color: #1A1A1A;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.shop-image {
    position: absolute;
    left: 140px;
    right: 140px;
}

.shop-man-and-women {
    display: flex;
    margin-bottom: 102px;
}

.shop-man {
    margin-right: 116px;
}

.shop-name {
    margin-top: 7px;
}

.shop-name a {
    color: #1A1A1A;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid #1A1A1A;
}

.shop-name a:hover {
    opacity: 0.5;
}

.container .design {
    position: relative;
}

.design {
    background-image: url("../images/background4.png");
    background-size: cover;
    height: 600px;
}

.design-p {
    width: 782px;
    padding: 237px 329px 255px 329px;
    color: #FFF;
    text-align: center;
    font-size: 35px;
    line-height: 54px;
}

.design-p p {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
}

.stay {
    background-color: #CED3CA;
    height: 450px;
    margin-bottom: 100px;
}

.stay-block {
    text-align: center;
    padding: 85px 510px 84px 510px;
    width: 420px;
}

.stay-block h2 {
    color: #1A1A1A;
    text-align: center;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 19px;
}

.stay-block p {
    color: #1A1A1A;
    text-align: center;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 56px;
}

.stay-input input {
    width: 338px;
    height: 48px;
    border: 1px solid #242424;
    background: #FFF;
}

.container .footer {
    position: relative;
}

.footer {
    display: flex;
    margin-bottom: 100px;
}

.footer-nav-menu {
    margin-left: 140px;
}

.footer-nav-items {
    width: 264px;
    height: 189px;
}

.footer-nav-item {
    list-style: none;
    padding-bottom: 14px;
}

.footer-nav-item a {
    color: #1A1A1A;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
}

.last-frame {
    display: flex;
    margin-left: 240px;
    width: 88px;
}

.last-frame-title {
    color: #1A1A1A;
    text-align: right;
    font-size: 15px;
    line-height: 21px;
}

.last-frame-title div {
    margin-left: 124px;
    width: 109px;
}

.last-frame-title p {
    width: 233px;
}

.last-frame-logo {
    padding-left: 24px;
}

.last-frame-icon {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    max-width: 320px;
    cursor: pointer;
}

.last-frame-icon img {
    display: flex;
    margin-top: 124px;
}
